<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jooapa.wtiirn" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>wtiirn</name>
    <description>Sample Apache Cordova App</description>
    <author email="contactjooapa@gmail.com" href="contactjooapa@gmail.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
