@font-face {
    font-family: "best font";
    src: url("../fonts/ComingSoon-Regular.ttf") format("truetype");
}
:root {
    --btnActivebg: #5bb3db8a;
}

textBig{
    font-size: 17vmin;
}
textSmaller{
    font-size: 12vmin;
}

html, body{
    background-color: #40649c;
    color: #e7eef7;
    overflow: hidden;
    font-family: "best font", sans-serif;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#contain{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#top{
    /* space between text gap */
    letter-spacing: 8px;
    font-size: 15vmin;
    text-align: center;
}
#loadingText{
    font-size: 10vmin;
}
.timeText{
    font-size: 30vmin;
}
#menu{
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
    align-items: end;
    justify-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#menuContain{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #00000000;
    width: 90%;
    border-radius: 60px 60px 0 0;
    backdrop-filter: blur(10px);
}
.menuContainOpen{
    animation-name: menuContainOpen;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.84,.99,.69,1.06);
    height: 40vmin;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
}
.menuContainClose{
    animation-name: menuContainClose;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.84,.99,.69,1.06);
    height: 0;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.5);
}
.menuContainClosed{
    height: 0;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.5);
}

.menubtn{
    font-family: "best font", sans-serif;
    color: #ffffff;
    font-size: 5vmin;
    width: 75vmin;
    height: 15vmin;
    border-radius: 50px;
    background-color: #00000059;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.8s cubic-bezier(.25,1.3,.42,1.27);
}

.menubtn:active{
    transition: 0.1s cubic-bezier(.25,1.3,.42,1.27);
    background-color: var(--btnActivebg);
    transform: scale(0.9);
    -webkit-tap-highlight-color: transparent;
}

@keyframes menuContainOpen{
    0%{
        height: 0;
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.5);
    }
    100%{
        height: 40vmin;
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);

    }
}
@keyframes menuContainClose{
    0%{
        height: 40vmin;
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
    }
    100%{
        height: 0;
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.5);
    }
}
/* if screen height 300px */
@media screen and (max-height: 400px) {
    .timeText{
        font-size: 25vmin;
    }
}
/* if landscape */
@media screen and (orientation: landscape) {
    #contain{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #top{
        grid-column: 1 / 3;
        grid-row: 1;
        text-align: center;
    }
    #loadingText{
        grid-column: 1 / 3;
        grid-row: 2;
        text-align: center;
    }
    .timeText{
        grid-column: 1 / 3;
        grid-row: 2;
        font-size: 20vmin;
    }
}

