@font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/ComingSoon-Regular.ttf") format("truetype");
}

html, body{
    background-color: #40649c;
    color: #e2eefe;
    overflow: hidden;
    font-family: "MyCustomFont", sans-serif;
    margin: 0;
}
#contain{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#top{
    /* space between text gap */
    letter-spacing: 8px;
    font-size: 15vmin;
    text-align: center;
}
textBig{
    font-size: 17vmin;
}
textSmaller{
    font-size: 12vmin;
}
#loadingText{
    font-size: 10vmin;
}
.timeText{
    font-size: 40vmin;
}